.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1652px; } }

.container-sm {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 340px; } }
  @media (min-width: 768px) {
    .container-sm {
      max-width: 320px; } }
  @media (min-width: 992px) {
    .container-sm {
      max-width: 560px; } }
  @media (min-width: 1200px) {
    .container-sm {
      max-width: 740px; } }
  @media (min-width: 1400px) {
    .container-sm {
      max-width: 980px; } }
  @media (min-width: 1700px) {
    .container-sm {
      max-width: 1252px; } }

.header {
  width: 100%;
  height: 118px;
  background-color: #2F2E2E;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }
  @media (min-width: 1199px) {
    .header {
      position: absolute;
      height: auto; } }
  .header__mobile {
    width: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .header__mobile {
        display: none; } }
    .header__mobile .container {
      padding: 15px; }
    .header__mobile__top {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header__mobile__top__logo {
        width: 171px;
        height: 88px; }
        .header__mobile__top__logo img {
          width: 100%; }
      .header__mobile__top__toggle {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #E1CB5E;
        border-radius: 4px;
        padding: 10px; }
        .header__mobile__top__toggle__bar {
          width: 100%;
          height: 2px;
          background-color: #5E5E5E;
          position: relative;
          transition: 0.3s; }
          .header__mobile__top__toggle__bar::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: -8px;
            left: 0;
            background-color: #5E5E5E;
            transition: 0.3s; }
          .header__mobile__top__toggle__bar::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -8px;
            left: 0;
            background-color: #5E5E5E;
            transition: 0.3s; }
        .header__mobile__top__toggle--active {
          border: 1px solid transparent; }
          .header__mobile__top__toggle--active .header__mobile__top__toggle__bar {
            background-color: transparent; }
            .header__mobile__top__toggle--active .header__mobile__top__toggle__bar::before {
              top: 0;
              left: 0;
              transform: rotate(315deg); }
            .header__mobile__top__toggle--active .header__mobile__top__toggle__bar::after {
              top: 0;
              left: 0;
              transform: rotate(-315deg); }
    .header__mobile__contact {
      padding-top: 10px; }
      .header__mobile__contact__item {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #FFFFFF;
        font-size: 18px;
        text-decoration: underline; }
        .header__mobile__contact__item__icon svg {
          width: 100%;
          height: 100%; }
      .header__mobile__contact p {
        padding-top: 5px;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        text-decoration: underline; }
    .header__mobile__bottom {
      padding-top: 60px;
      width: 100%;
      margin: auto; }
      .header__mobile__bottom p {
        color: #FFCB00;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        line-height: 1.8em;
        letter-spacing: 0em; }
      .header__mobile__bottom p.green {
        color: #0EE62F; }
  .header__desktop {
    width: 100%;
    height: 100%;
    display: none; }
    @media (min-width: 1200px) {
      .header__desktop {
        display: block; } }
    .header__desktop__top {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      padding: 33px 0; }
      .header__desktop__top__logo {
        width: 269px; }
        .header__desktop__top__logo img {
          width: 100%; }
      .header__desktop__top__contact h1 {
        width: 100%;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: normal;
        line-height: normal;
        font-weight: normal; }
      .header__desktop__top__contact__form {
        width: 100%;
        padding-top: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); }
        .header__desktop__top__contact__form__item {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #FFFFFF;
          font-size: 18px;
          text-decoration: underline; }
          .header__desktop__top__contact__form__item__icon svg {
            width: 100%;
            height: 100%; }
        .header__desktop__top__contact__form__item_line {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          color: #FFFFFF;
          font-size: 18px;
          text-decoration: underline;
          border-left: 1px solid #FFCB00;
          border-right: 1px solid #FFCB00; }
          .header__desktop__top__contact__form__item_line__icon svg {
            width: 100%;
            height: 100%; }
    .header__desktop__medium {
      display: flex;
      justify-content: center;
      width: 100%;
      background-color: #1D3E99;
      padding: 5px 0; }
      .header__desktop__medium__bottom {
        border-right: 1px solid #FFCB00;
        color: #FFFFFF;
        font-size: 22px;
        padding: 20px;
        padding: 20px; }
        @media (min-width: 1400px) {
          .header__desktop__medium__bottom {
            padding: 20px 70px; } }
        .header__desktop__medium__bottom--active {
          border-right: 1px solid #FFCB00;
          color: #FFFFFF;
          font-size: 22px;
          padding: 20px 70px;
          background-color: #2F2E2E; }
          .header__desktop__medium__bottom--active:hover {
            background-color: #FFFFFF; }
        .header__desktop__medium__bottom:hover {
          background-color: #FFFFFF; }
    .header__desktop__bottom {
      padding: 20px 0;
      width: 100%;
      margin: auto; }
      .header__desktop__bottom p {
        color: #FFCB00;
        font-size: 28px;
        text-align: center;
        font-weight: bold;
        line-height: 1.8em;
        letter-spacing: 0em; }
      .header__desktop__bottom p.green {
        color: #0EE62F; }

.layout_whatsapp {
  position: fixed;
  top: 90%;
  right: 25px;
  z-index: 100; }
  @media (min-width: 1199px) {
    .layout_whatsapp {
      display: none; } }
  .layout_whatsapp img {
    width: 50px;
    height: 50px; }

.menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -200%;
  left: 0;
  background-color: #2F2E2E;
  z-index: 100;
  padding: 30px 0;
  transition: 0.3s; }
  .menu--active {
    top: 100px; }
  .menu .container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px; }
    .menu .container a {
      font-size: 18px;
      color: #FFCB00;
      text-transform: uppercase;
      padding: 10px 0;
      transition: 0.3s; }
    .menu .container hr {
      width: 100%; }

.footer {
  width: 100%;
  background-color: #2F2E2E;
  padding: 30px 0;
  position: absolute; }
  @media (min-width: 1199px) {
    .footer {
      padding: 60px 0; } }
  .footer__contact h1 {
    letter-spacing: -0.05em;
    color: #FFDA1F;
    line-height: 0.8em;
    text-align: center;
    font-size: 34px; }
    @media (min-width: 1199px) {
      .footer__contact h1 {
        font-size: 92px; } }
  .footer__contact h2 {
    line-height: 1em;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF;
    font-weight: normal;
    padding-top: 10px;
    font-family: helvetica-w01-roman,helvetica-w02-roman,helvetica-lt-w10-roman,sans-serif; }
    @media (min-width: 1199px) {
      .footer__contact h2 {
        font-size: 22px;
        padding-top: 46px; } }
  .footer__contact__phone {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px 0; }
    @media (min-width: 1199px) {
      .footer__contact__phone {
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
        padding: 40px 0;
        gap: 10px; } }
    .footer__contact__phone__item {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #FFFFFF;
      font-size: 15px;
      text-decoration: underline; }
      @media (min-width: 1199px) {
        .footer__contact__phone__item {
          font-size: 16px;
          gap: 10px; } }
      .footer__contact__phone__item__icon {
        width: 25px; }
        .footer__contact__phone__item__icon svg {
          width: 100%; }
  .footer__contact__email_location {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 60px; }
    @media (min-width: 1199px) {
      .footer__contact__email_location {
        width: 60%;
        flex-direction: row;
        gap: 30px; } }
    .footer__contact__email_location__item {
      display: flex;
      align-items: center;
      gap: 10px;
      color: #FFFFFF;
      text-decoration: underline;
      font-size: 15px; }
      @media (min-width: 1199px) {
        .footer__contact__email_location__item {
          font-size: 21px; } }
      .footer__contact__email_location__item__icon {
        width: 25px; }
        .footer__contact__email_location__item__icon svg {
          width: 100%; }
  .footer hr {
    border: 1px solid #605E5E; }
  .footer__information {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-top: 46px; }
    @media (min-width: 1199px) {
      .footer__information {
        gap: 20px; } }
    .footer__information__legal {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      color: #605E5E;
      font-size: 18px; }
      @media (min-width: 1199px) {
        .footer__information__legal {
          gap: 20px;
          flex-direction: row; } }
      .footer__information__legal a {
        color: #605E5E;
        text-decoration: underline; }
    .footer__information p.text {
      color: #605E5E;
      font-size: 9px;
      padding-top: 20px; }

.service_home {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.45); }
  @media (min-width: 1200px) {
    .service_home {
      height: 870px;
      margin-top: 470px;
      background-color: transparent; } }
  .service_home video {
    height: 100%;
    width: 100%; }
    @media (min-width: 1199px) {
      .service_home video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: relative; } }
  .service_home__text {
    width: 100%;
    position: relative;
    top: -45%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 60px 0;
    display: none; }
    @media (min-width: 1199px) {
      .service_home__text {
        display: flex;
        align-items: center;
        justify-content: center; } }
    .service_home__text .container-sm {
      animation-name: animationService;
      animation-duration: 4s;
      animation-iteration-count: initial; }

@keyframes animationService {
  0% {
    transform: translateX(-200%); } }
    .service_home__text h1 {
      width: 100%;
      font-size: 53px;
      line-height: 1.3em;
      color: #FFFFFF;
      font-weight: normal;
      margin: auto;
      text-align: center;
      padding-bottom: 22px; }
      @media (min-width: 1700px) {
        .service_home__text h1 {
          width: 60%;
          font-size: 63px; } }
    .service_home__text h2 {
      letter-spacing: -0.01em;
      font-size: 36px;
      color: #FFFFFF;
      text-align: center;
      font-weight: normal;
      padding-bottom: 22px; }
    .service_home__text hr {
      width: 98px;
      margin: auto;
      border: 5px solid #FFCB00; }
  .service_home__text_two {
    width: 100%;
    border-top: 5px solid rgba(0, 0, 0, 0.45);
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center; }
    .service_home__text_two h1 {
      width: 100%;
      font-size: 26px;
      line-height: 1.3em;
      color: #FFFFFF;
      font-weight: normal;
      margin: auto;
      text-align: center;
      padding-bottom: 22px; }
    .service_home__text_two h2 {
      letter-spacing: -0.01em;
      font-size: 26px;
      color: #FFFFFF;
      text-align: center;
      font-weight: normal;
      padding-bottom: 22px; }
    .service_home__text_two hr {
      width: 98px;
      margin: auto;
      border: 5px solid #FFCB00; }

.information {
  width: 100%;
  height: auto;
  background-color: #2F2E2E;
  margin-top: 118px; }
  @media (min-width: 1199px) {
    .information {
      display: none; } }

.clients {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding: 20px 0; }
  @media (min-width: 1199px) {
    .clients {
      height: auto;
      position: relative;
      overflow: hidden;
      padding: 60px 0; } }
  .clients h1 {
    font-size: 23px;
    color: black;
    letter-spacing: normal;
    line-height: normal;
    padding: 20px 0;
    text-align: center; }
    @media (min-width: 1199px) {
      .clients h1 {
        font-size: 40px; } }
  .clients hr {
    width: 98px;
    margin: auto;
    border: 5px solid #FFCB00;
    animation-name: line;
    animation-duration: 4s;
    animation-iteration-count: initial; }
    @media (min-width: 1199px) {
      @keyframes line {
        0% {
          width: 0%; }
        100% {
          width: 98px; } } }
  .clients__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-top: 20px;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: initial; }
    @media (min-width: 1199px) {
      .clients__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px; }
      @keyframes animation {
        0% {
          transform: scale(0.1); } } }
    @media (min-width: 1400px) {
      .clients__grid {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px; } }
    .clients__grid img {
      width: 100%;
      margin: auto; }
      @media (min-width: 1199px) {
        .clients__grid img {
          width: 175px; } }

.we_ensure {
  width: 100%;
  height: 100%;
  background-color: #e3e3e3;
  padding: 20px 30px; }
  @media (min-width: 1199px) {
    .we_ensure {
      margin: auto;
      padding: 0 0px 30px 0; } }
  .we_ensure .container-sm {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    @media (min-width: 1232px) {
      .we_ensure .container-sm {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr); } }
  .we_ensure--left {
    width: 20%;
    border: 2px solid #FFCB00;
    position: absolute; }
  .we_ensure__information {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    display: none;
    z-index: 2; }
    .we_ensure__information--left {
      width: 20%;
      position: relative;
      top: -40%;
      left: 54%; }
      @media (min-width: 2500px) {
        .we_ensure__information--left {
          top: -40%;
          left: 57%; } }
      .we_ensure__information--left__horizontal {
        border: 2px solid #FFCB00;
        position: relative;
        left: 30%; }
      .we_ensure__information--left__vertical {
        position: relative;
        border: 2px solid #FFCB00;
        transform: rotate(90deg);
        top: 50px; }
        @media (min-width: 1400px) {
          .we_ensure__information--left__vertical {
            top: 76px; } }
        @media (min-width: 2500px) {
          .we_ensure__information--left__vertical {
            top: 110px; } }
    .we_ensure__information--right {
      width: 20%;
      position: relative;
      bottom: -25%;
      left: 77%; }
      @media (min-width: 2500px) {
        .we_ensure__information--right {
          bottom: -20%;
          left: 74%; } }
      .we_ensure__information--right__horizontal {
        border: 2px solid #FFCB00;
        position: relative;
        top: 84px;
        left: -50px; }
      .we_ensure__information--right__vertical {
        position: relative;
        border: 2px solid #FFCB00;
        transform: rotate(90deg);
        top: 40px; }
        @media (min-width: 1400px) {
          .we_ensure__information--right__vertical {
            top: 12px; } }
        @media (min-width: 1800px) {
          .we_ensure__information--right__vertical {
            top: 0px; } }
        @media (min-width: 2500px) {
          .we_ensure__information--right__vertical {
            top: -35px; } }
    @media (min-width: 1232px) {
      .we_ensure__information {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 120px;
        animation-name: information;
        animation-duration: 2s;
        animation-iteration-count: initial; } }
    .we_ensure__information p {
      width: 30%;
      margin-left: auto;
      letter-spacing: normal;
      line-height: 1.9em;
      font-size: 21px;
      text-align: center;
      font-weight: normal; }
      .we_ensure__information p:hover {
        transform: scale(120%);
        transition: 0.5s; }

@keyframes information {
  0% {
    transform: translateX(200%); } }
  .we_ensure__title {
    width: 100%;
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e3e3e3; }
    @media (min-width: 1232px) {
      .we_ensure__title {
        width: 50%; } }
    .we_ensure__title__icon {
      width: 90px;
      animation-name: icon;
      animation-duration: 4s;
      animation-iteration-count: initial; }
      @media (min-width: 1199px) {
        @keyframes icon {
          0% {
            transform: translateX(-50%);
            opacity: 1; }
          100% {
            opacity: 1; } } }
      .we_ensure__title__icon svg {
        width: 100%;
        height: 100%; }
    .we_ensure__title h1 {
      width: 80%;
      text-align: center;
      padding: 20px 0;
      font-size: 30px; }
      @media (min-width: 1199px) {
        .we_ensure__title h1 {
          font-size: 66px; } }
    .we_ensure__title hr {
      width: 98px;
      margin: auto;
      border: 5px solid #FFCB00;
      margin-bottom: 20px;
      animation-name: line;
      animation-duration: 4s;
      animation-iteration-count: initial; }
      @media (min-width: 1199px) {
        @keyframes line {
          0% {
            width: 0%; }
          100% {
            width: 98px; } } }
    .we_ensure__title p {
      font-size: 20px;
      text-align: center;
      animation-name: sub;
      animation-duration: 5s;
      z-index: 0; }
      @media (min-width: 1199px) {
        .we_ensure__title p {
          width: 70%;
          font-size: 27px;
          padding-bottom: 80px; }
        @keyframes sub {
          0% {
            opacity: 0; }
          100% {
            opacity: 1; } } }

.price {
  width: 100%;
  height: 100%;
  background-color: #2F2E2E;
  padding: 20px 0; }
  @media (min-width: 1199px) {
    .price {
      padding: 53px 0; } }
  .price .container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .price .container-sm {
        flex-direction: row;
        gap: 40px; } }
  .price h1 {
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: normal;
    line-height: normal;
    font-weight: bold; }
    @media (min-width: 1199px) {
      .price h1 {
        font-size: 59px; } }
  .price__text {
    padding-top: 20px; }
    @media (min-width: 1199px) {
      .price__text {
        padding-bottom: 0px; } }
    .price__text h1 {
      font-size: 25px;
      color: #FFCB00;
      letter-spacing: normal;
      line-height: normal;
      font-weight: normal;
      text-align: center;
      padding-bottom: 20px; }
      @media (min-width: 1199px) {
        .price__text h1 {
          padding-bottom: 30px; } }
    .price__text a {
      font-size: 29px;
      color: #FFCB00;
      letter-spacing: normal;
      line-height: normal;
      font-weight: bold;
      text-decoration: underline; }

.experts {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 500px; }
  @media (min-width: 1199px) {
    .experts {
      height: 600px; } }
  .experts--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .experts--prev svg {
      width: 40px;
      fill: white;
      opacity: 0.5; }
  .experts--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .experts--next svg {
      width: 40px;
      fill: white;
      opacity: 0.5; }
  .experts__form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .experts__form--video {
      flex-direction: column; }
      .experts__form--video video {
        width: 100%;
        height: 100%;
        position: relative;
        filter: brightness(60%);
        z-index: -1;
        object-fit: cover; }
      .experts__form--video h1 {
        position: absolute;
        font-size: 52px;
        color: #FFFFFF;
        text-align: center; }
        @media (min-width: 1199px) {
          .experts__form--video h1 {
            font-size: 108px;
            width: 50%;
            margin: auto;
            line-height: 90px; } }
      .experts__form--video span {
        color: #FFCB00; }
    .experts__form__button {
      position: absolute;
      bottom: 15%;
      margin-top: 60px;
      background-color: #FFCB00;
      font-size: 21px;
      padding: 10px;
      animation-name: butt;
      animation-duration: 2s;
      animation-iteration-count: initial; }
      @media (min-width: 1199px) {
        @keyframes butt {
          0% {
            opacity: 0;
            width: 0%;
            color: transparent; }
          90% {
            opacity: 1;
            width: 6%; }
          100% {
            color: #000000; } } }
      .experts__form__button:hover {
        background-color: #FFFFFF;
        border: 1px solid black; }

.swiper {
  width: 100%;
  height: 100%; }
  .swiper .swiper-slide {
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; }
  .swiper .swiper-pagination-bullet {
    background-color: #FFFFFF;
    opacity: 0.6; }
  .swiper .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid white; }

.quote {
  width: 100%;
  height: 100%;
  padding: 30px 0; }
  @media (min-width: 1199px) {
    .quote {
      padding: 60px 0; } }
  .quote .container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .quote h1 {
    width: 50%;
    line-height: 25px;
    text-align: center;
    font-size: 34px;
    letter-spacing: -0.05em;
    color: #2F2E2E; }
    @media (min-width: 1199px) {
      .quote h1 {
        font-size: 92px;
        line-height: 85px; } }
  .quote p {
    width: 80%;
    line-height: 1.5em;
    text-align: center;
    font-size: 18px;
    letter-spacing: normal;
    color: #A0A09F;
    font-weight: bold;
    padding: 20px 0; }
    @media (min-width: 1199px) {
      .quote p {
        font-size: 22px; } }
  .quote hr {
    width: 98px;
    margin: auto;
    border: 5px solid #FFCB00;
    animation-name: line;
    animation-duration: 4s;
    animation-iteration-count: initial; }
    @media (min-width: 1199px) {
      @keyframes line {
        0% {
          width: 0%; }
        100% {
          width: 98px; } } }
  .quote__grid {
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: initial; }
    @media (min-width: 1199px) {
      .quote__grid {
        width: 80%; }
      @keyframes animation {
        0% {
          transform: scale(0.1); } } }
    .quote__grid__modal_form {
      width: 100%; }
      .quote__grid__modal_form--one {
        background-image: url("https://static.wixstatic.com/media/914e21_4e0c9f87c0ea4521b0f3288a351408f5~mv2.jpg/v1/fill/w_490,h_222,al_c,q_80,usm_1.20_1.00_0.01,enc_auto/914e21_4e0c9f87c0ea4521b0f3288a351408f5~mv2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .quote__grid__modal_form--two {
        background-image: url("https://static.wixstatic.com/media/914e21_8d9d42d4833145aa9ac38aecf6d2aee0~mv2.jpg/v1/fill/w_490,h_222,al_c,q_80,usm_1.20_1.00_0.01,enc_auto/914e21_8d9d42d4833145aa9ac38aecf6d2aee0~mv2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .quote__grid__modal_form--three {
        background-image: url("https://static.wixstatic.com/media/914e21_3250938d743c46afba46bb437fd31de1~mv2.jpg/v1/fill/w_490,h_222,al_c,q_80,usm_1.20_1.00_0.01,enc_auto/914e21_3250938d743c46afba46bb437fd31de1~mv2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .quote__grid__modal_form--four {
        background-image: url("https://static.wixstatic.com/media/914e21_0a3f52f10a534e97bf2531aa363cec21~mv2.jpg/v1/fill/w_490,h_222,al_c,q_80,usm_1.20_1.00_0.01,enc_auto/914e21_0a3f52f10a534e97bf2531aa363cec21~mv2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .quote__grid__modal_form--five {
        background-image: url("https://static.wixstatic.com/media/914e21_dfe23d7d7baf4e4481513fa34159d3a6~mv2.jpg/v1/fill/w_490,h_222,al_c,q_80,usm_1.20_1.00_0.01,enc_auto/914e21_dfe23d7d7baf4e4481513fa34159d3a6~mv2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .quote__grid__modal_form--six {
        background-image: url("https://static.wixstatic.com/media/914e21_3ae773b01dd4449f911c416dd015b57b~mv2.jpg/v1/fill/w_490,h_222,al_c,q_80,usm_1.20_1.00_0.01,enc_auto/914e21_3ae773b01dd4449f911c416dd015b57b~mv2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; }
      .quote__grid__modal_form__hoverModal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #ebebdb;
        opacity: 0;
        padding: 10px; }
        @media (min-width: 1199px) {
          .quote__grid__modal_form__hoverModal {
            padding: 20px; } }
        .quote__grid__modal_form__hoverModal h2 {
          color: #000000;
          font-size: 18px;
          padding-bottom: 10px;
          text-align: center; }
        .quote__grid__modal_form__hoverModal p {
          color: #000000;
          font-size: 16px;
          padding: 0;
          font-weight: normal; }
        .quote__grid__modal_form__hoverModal:hover {
          opacity: 1;
          cursor: pointer;
          transition: all 600ms; }
    .quote__grid div {
      display: flex; }
  .quote__button {
    margin-top: 30px;
    background-color: #FFCB00;
    padding: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold; }
    .quote__button:hover {
      background-color: #FFFFFF;
      border: 1px solid black; }

.why_we {
  width: 100%;
  height: 100%;
  background-color: #000000;
  padding: 30px 0; }
  .why_we .container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .why_we h1 {
    width: 50%;
    color: #FFCB00;
    line-height: 0.8em;
    text-align: center;
    font-size: 34px;
    letter-spacing: -0.05em;
    padding-bottom: 30px; }
  .why_we hr {
    width: 98px;
    margin: auto;
    border: 5px solid #FFCB00;
    animation-name: line;
    animation-duration: 4s;
    animation-iteration-count: initial; }
    @media (min-width: 1199px) {
      @keyframes line {
        0% {
          width: 0%; }
        100% {
          width: 98px; } } }
  .why_we__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px; }
    @media (min-width: 1199px) {
      .why_we__grid {
        grid-template-columns: repeat(5, 1fr); } }
    .why_we__grid__content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .why_we__grid__content__logo {
        width: 90px; }
        .why_we__grid__content__logo img {
          width: 100%; }
      .why_we__grid__content p {
        font-size: 17px;
        font-weight: normal;
        color: #A0A09F;
        line-height: 1.5em;
        text-align: center; }

.urgent {
  width: 100%;
  height: 100%;
  background-color: #3A61CF;
  padding: 30px 0; }
  @media (min-width: 1199px) {
    .urgent {
      padding: 44px 0;
      position: relative; } }
  .urgent .container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px; }
  .urgent__logo {
    width: 90px;
    animation-name: icon;
    animation-duration: 4s;
    animation-iteration-count: initial; }
    @media (min-width: 1199px) {
      .urgent__logo {
        width: 130px; }
      @keyframes icon {
        0% {
          transform: translateX(-50%);
          opacity: 1; }
        100% {
          opacity: 1; } } }
    .urgent__logo svg {
      width: 100%; }
  .urgent h1 {
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: normal;
    line-height: 1em;
    text-align: center;
    font-weight: 1000; }
    @media (min-width: 1199px) {
      .urgent h1 {
        font-size: 54px;
        width: 60%;
        margin: auto; } }
  .urgent__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100%;
    padding: 10px;
    color: #000000;
    font-size: 15px;
    background-color: #FFCB00;
    font-weight: bold;
    animation-name: butt;
    animation-duration: 2s;
    animation-iteration-count: initial; }
    @media (min-width: 1199px) {
      @keyframes butt {
        0% {
          opacity: 0;
          width: 0%;
          color: transparent; }
        90% {
          opacity: 1;
          width: 160px; }
        100% {
          color: #000000; } } }
    .urgent__button:hover {
      background-color: #FFFFFF;
      border: 1px solid #000000; }

.imagen {
  width: 100%;
  height: 200px;
  background-image: url("https://static.wixstatic.com/media/914e21_c7dbbfe791c74650ae87356a9c8a40e7~mv2.png/v1/fill/w_1350,h_433,al_c,q_90,usm_1.20_1.00_0.01,enc_auto/914e21_c7dbbfe791c74650ae87356a9c8a40e7~mv2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  filter: brightness(60%); }
  @media (min-width: 1199px) {
    .imagen {
      position: relative;
      z-index: -2;
      height: 500px; } }

.hero {
  width: 100%;
  height: 100%; }
  @media (min-width: 1199px) {
    .hero {
      background-image: url("https://static.wixstatic.com/media/914e21_58575822193d4c4fb1773e92c871fc0f~mv2.jpg/v1/fill/w_1350,h_383,al_c,q_85,usm_1.20_1.00_0.01,enc_auto/914e21_58575822193d4c4fb1773e92c871fc0f~mv2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      margin-top: 470px;
      position: relative;
      height: 600px; } }
  .hero img {
    width: 100%; }
    @media (min-width: 1199px) {
      .hero img {
        display: none; } }
  .hero__banner_top {
    width: 100%;
    height: auto;
    background-color: rgba(250, 250, 250, 0.75);
    padding: 20px 0; }
    @media (min-width: 1199px) {
      .hero__banner_top {
        padding: 30px 0; } }
    .hero__banner_top h1 {
      width: 50%;
      line-height: 30px;
      text-align: center;
      font-size: 36px;
      letter-spacing: normal;
      color: #000000;
      padding-bottom: 20px;
      margin: auto;
      animation-name: text;
      animation-duration: 4s;
      animation-iteration-count: initial; }
      @media (min-width: 1199px) {
        .hero__banner_top h1 {
          width: 100%;
          font-size: 100px;
          line-height: 90px; }
        @keyframes text {
          0% {
            opacity: 0; }
          100% {
            opacity: 1; } } }
    .hero__banner_top hr {
      width: 98px;
      margin: auto;
      border: 5px solid #FFCB00;
      animation-name: line;
      animation-duration: 4s;
      animation-iteration-count: initial; }
      @media (min-width: 1199px) {
        @keyframes line {
          0% {
            width: 0%; }
          100% {
            width: 98px; } } }
  .hero__banner_bottom {
    width: 100%;
    height: auto;
    background-color: #2F2E2E;
    padding: 20px 0; }
    @media (min-width: 1199px) {
      .hero__banner_bottom {
        position: relative;
        bottom: -25%;
        padding: 30px 0;
        z-index: 1; } }
    .hero__banner_bottom .container-sm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
    .hero__banner_bottom h2 {
      width: 90%;
      font-weight: bold;
      font-style: normal;
      font-size: 31px;
      line-height: normal;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 20px; }
      @media (min-width: 1199px) {
        .hero__banner_bottom h2 {
          font-size: 75px; } }
    .hero__banner_bottom h3 {
      letter-spacing: 0em;
      text-align: center;
      font-size: 16px;
      color: #FFCB00;
      font-weight: normal; }
      @media (min-width: 1199px) {
        .hero__banner_bottom h3 {
          font-size: 21px; } }
    .hero__banner_bottom a {
      letter-spacing: 0em;
      text-align: center;
      font-size: 20px;
      color: #FFCB00;
      font-weight: 900;
      text-decoration: underline;
      padding-bottom: 20px; }
      @media (min-width: 1199px) {
        .hero__banner_bottom a {
          font-size: 29px; } }
    .hero__banner_bottom p {
      width: 80%;
      text-align: center;
      font-size: 20px;
      color: #FFFFFF;
      font-weight: 900;
      text-decoration: underline;
      line-height: normal; }
      @media (min-width: 1199px) {
        .hero__banner_bottom p {
          font-size: 29px; } }

.catalog {
  width: 100%;
  height: 100%;
  padding: 20px 0; }
  @media (min-width: 1199px) {
    .catalog {
      padding: 30px 0; } }
  .catalog .container-sm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; }
    @media (min-width: 1199px) {
      .catalog .container-sm {
        grid-template-columns: repeat(3, 1fr); } }
  .catalog__units {
    width: 100%;
    background-color: #CFCFCF; }
    .catalog__units__imagen {
      width: 100%; }
      .catalog__units__imagen img {
        width: 100%; }
    .catalog__units__text h1 {
      font-size: 18px;
      color: #3A61CF;
      text-align: center;
      font-weight: 900; }
    .catalog__units__text p {
      font-size: 13px;
      text-align: center;
      color: #000000;
      white-space: pre-line;
      padding-bottom: 5px; }
    .catalog__units:hover .catalog__units__imagen img {
      filter: opacity(70%); }

* {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  box-sizing: border-box; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }
