/*$heavy_metal:#2F2E2E;*/
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1852px; } }

.container-sm {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-sm {
      max-width: 620px; } }
  @media (min-width: 992px) {
    .container-sm {
      max-width: 760px; } }
  @media (min-width: 1200px) {
    .container-sm {
      max-width: 1050px; } }
  @media (min-width: 1400px) {
    .container-sm {
      max-width: 1280px; } }
  @media (min-width: 1700px) {
    .container-sm {
      max-width: 1452px; } }

.header {
  width: 100%;
  height: 118px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }
  @media (min-width: 1199px) {
    .header {
      position: absolute;
      height: auto; } }
  .header__mobile {
    width: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .header__mobile {
        display: none; } }
    .header__mobile .container {
      padding: 15px; }
    .header__mobile__top {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header__mobile__top__logo {
        width: 120px;
        height: 73px; }
      .header__mobile__top__toggle {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px;
        /*&--active {
					border: 1px solid transparent;
				
					.header__mobile__top__toggle__bar {
						background-color: transparent;
	
						&::before {
							top: 0;
							left: 0;
							transform: rotate(315deg);
						}
	
						&::after {
							top: 0;
							left: 0;
							transform: rotate(-315deg);
						}
					}
	
				}*/ }
        .header__mobile__top__toggle__bar {
          width: 100%;
          height: 2px;
          background-color: #000000;
          position: relative;
          transition: 0.3s; }
          .header__mobile__top__toggle__bar::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: -8px;
            left: 0;
            background-color: #000000;
            transition: 0.3s; }
          .header__mobile__top__toggle__bar::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -8px;
            left: 0;
            background-color: #000000;
            transition: 0.3s; }
  .header__desktop {
    width: 100%;
    height: 100%;
    display: none; }
    @media (min-width: 1200px) {
      .header__desktop {
        display: block; }
        .header__desktop .container-sm {
          display: flex;
          align-items: center;
          justify-content: space-between; } }
    .header__desktop__logo {
      width: 192px;
      height: 117px; }
    .header__desktop__pages {
      display: flex;
      gap: 40px;
      font-size: 14px;
      font-weight: 700; }
      .header__desktop__pages--active {
        color: #F7C50A; }
        .header__desktop__pages--active hr {
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A;
          border: none; }
      .header__desktop__pages--one {
        color: #FFFFFF; }
        .header__desktop__pages--one hr {
          display: none; }
        .header__desktop__pages--one:hover {
          color: #F7C50A; }
          .header__desktop__pages--one:hover hr {
            display: block;
            border: none;
            width: 50%;
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background-color: #F7C50A; }
      .header__desktop__pages--two {
        color: #FFFFFF; }
        .header__desktop__pages--two hr {
          display: none; }
        .header__desktop__pages--two:hover {
          color: #F7C50A; }
          .header__desktop__pages--two:hover hr {
            display: block;
            border: none;
            width: 50%;
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background-color: #F7C50A; }
      .header__desktop__pages--three {
        color: #FFFFFF; }
        .header__desktop__pages--three hr {
          display: none; }
        .header__desktop__pages--three:hover {
          color: #F7C50A; }
          .header__desktop__pages--three:hover hr {
            display: block;
            border: none;
            width: 50%;
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background-color: #F7C50A; }
      .header__desktop__pages--four {
        color: #FFFFFF; }
        .header__desktop__pages--four hr {
          display: none; }
        .header__desktop__pages--four:hover {
          color: #F7C50A; }
          .header__desktop__pages--four:hover hr {
            display: block;
            border: none;
            width: 50%;
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background-color: #F7C50A; }
      .header__desktop__pages--five {
        color: #FFFFFF; }
        .header__desktop__pages--five hr {
          display: none; }
        .header__desktop__pages--five:hover {
          color: #F7C50A; }
          .header__desktop__pages--five:hover hr {
            display: block;
            border: none;
            width: 50%;
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background-color: #F7C50A; }
      .header__desktop__pages--six {
        color: #FFFFFF; }
        .header__desktop__pages--six hr {
          display: none; }
        .header__desktop__pages--six:hover {
          color: #F7C50A; }
          .header__desktop__pages--six:hover hr {
            display: block;
            border: none;
            width: 50%;
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background-color: #F7C50A; }
      .header__desktop__pages--seven {
        color: #FFFFFF; }
        .header__desktop__pages--seven hr {
          display: none; }
        .header__desktop__pages--seven:hover {
          color: #F7C50A; }
          .header__desktop__pages--seven:hover hr {
            display: block;
            border: none;
            width: 50%;
            margin: auto;
            margin-top: 10px;
            height: 1px;
            background-color: #F7C50A; }

.menu {
  width: 65%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -200%;
  background-color: #000000;
  z-index: 100;
  padding: 30px 5px;
  transition: 0.3s; }
  .menu--active {
    left: 0%; }
  .menu__button {
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF; }
    .menu__button svg {
      width: 100%; }
  .menu .container {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .menu__media {
    display: flex;
    gap: 10px;
    padding-bottom: 30px; }
    .menu__media a {
      width: 19px;
      color: #F7C50A; }
  .menu__link a {
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: 0.3s; }
  .menu__link hr {
    margin: 10px 0;
    width: 100%;
    border: 0.09px solid #605E5E; }
  .menu__link--one:hover {
    color: #F7C50A; }
  .menu__link--two:hover {
    color: #F7C50A; }
  .menu__link--three:hover {
    color: #F7C50A; }
  .menu__link--four:hover {
    color: #F7C50A; }
  .menu__link--five:hover {
    color: #F7C50A; }
  .menu__link--six:hover {
    color: #F7C50A; }
  .menu__link--seven:hover {
    color: #F7C50A; }

.footer {
  width: 100%;
  background-color: #1f1f1f;
  padding: 10px 0;
  position: absolute; }
  @media (min-width: 1199px) {
    .footer {
      padding: 15px 0; } }
  .footer h1 {
    letter-spacing: -0.05em;
    color: #F7C50A;
    line-height: 0.8em;
    text-align: center;
    font-size: 15px;
    font-weight: normal; }
    @media (min-width: 1199px) {
      .footer h1 {
        font-size: 17px; } }

.media {
  position: fixed;
  top: 250px;
  left: 0px;
  display: none;
  transform: rotate(270deg);
  z-index: 110; }
  @media (min-width: 992px) {
    .media {
      display: flex;
      align-items: flex-start;
      gap: 30px; } }
  .media a {
    transform: rotate(90deg);
    width: 19px;
    font-weight: 700;
    font-size: 12px;
    color: #000000; }

.hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 500px; }
  @media (min-width: 1199px) {
    .hero {
      height: 800px; } }
  .hero--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .hero--prev svg {
      width: 40px;
      fill: white;
      opacity: 0.5; }
  .hero--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .hero--next svg {
      width: 40px;
      fill: white;
      opacity: 0.5; }
  .hero__form {
    width: 100%;
    height: 100%; }
    .hero__form--one {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../img/Banner.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .hero__form--one .container-sm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 200px 0; }
        @media (min-width: 1199px) {
          .hero__form--one .container-sm {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start; } }
      .hero__form--one__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        @media (min-width: 1199px) {
          .hero__form--one__text {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start; } }
        .hero__form--one__text h1 {
          width: 100%;
          font-size: 25px;
          color: #F7C50A; }
          @media (min-width: 992px) {
            .hero__form--one__text h1 {
              font-size: 70px;
              line-height: 56px; } }
        .hero__form--one__text p {
          font-size: 20px;
          color: #FFFFFF;
          padding-bottom: 60px;
          padding-top: 10px; }
          @media (min-width: 992px) {
            .hero__form--one__text p {
              font-size: 40px;
              line-height: 56px; } }
        .hero__form--one__text__button {
          background-color: #1B8233;
          font-size: 14px;
          color: #FFFFFF;
          font-weight: normal;
          padding: 15px;
          width: auto;
          /*Animation*/
          animation-name: butt;
          animation-duration: 2s;
          animation-iteration-count: initial; }
          @media (min-width: 1199px) {
            .hero__form--one__text__button {
              padding: 20px 40px; } }
    .hero__form--two {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../img/Hotel.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .hero__form--two .container-sm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 200px 0; }
        @media (min-width: 1199px) {
          .hero__form--two .container-sm {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start; } }
      .hero__form--two__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        @media (min-width: 1199px) {
          .hero__form--two__text {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start; } }
        .hero__form--two__text h1 {
          width: 100%;
          font-size: 25px;
          color: #F7C50A;
          text-align: center; }
          @media (min-width: 992px) {
            .hero__form--two__text h1 {
              text-align: start;
              font-size: 70px;
              line-height: 56px; } }
        .hero__form--two__text p {
          font-size: 20px;
          color: #FFFFFF;
          padding-bottom: 60px;
          padding-top: 10px;
          text-align: center; }
          @media (min-width: 992px) {
            .hero__form--two__text p {
              text-align: start;
              font-size: 40px;
              line-height: 56px; } }
        .hero__form--two__text__button {
          background-color: #1B8233;
          font-size: 14px;
          color: #FFFFFF;
          font-weight: normal;
          padding: 15px;
          width: auto;
          /*Animation*/
          animation-name: butt;
          animation-duration: 2s;
          animation-iteration-count: initial; }
          @media (min-width: 1199px) {
            .hero__form--two__text__button {
              padding: 20px 40px; } }

.swiper {
  width: 100%;
  height: 100%; }
  .swiper .swiper-slide {
    width: 100% !important;
    height: 100%; }
  .swiper .swiper-pagination-bullet {
    background-color: #FFFFFF;
    opacity: 0.6; }
  .swiper .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid white; }

.reduce_costs {
  width: 100%;
  position: relative;
  background-color: #000000;
  z-index: 1; }
  .reduce_costs .container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 60px 0;
    padding: 0 15px; }
    @media (min-width: 1199px) {
      .reduce_costs .container-sm {
        padding: 0 100px; } }
    @media (min-width: 1399px) {
      .reduce_costs .container-sm {
        padding: 0 200px; } }
  .reduce_costs__grid {
    position: relative;
    bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    z-index: 999999; }
    @media (min-width: 992px) {
      .reduce_costs__grid {
        bottom: 60px;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px; } }
    .reduce_costs__grid__item {
      width: 100%;
      background-color: #ffc600;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px; }
      .reduce_costs__grid__item__icon {
        width: 100px; }
      .reduce_costs__grid__item p {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 700;
        text-align: center; }
  .reduce_costs__text {
    padding-bottom: 20px; }
    @media (min-width: 992px) {
      .reduce_costs__text {
        padding-top: 0; } }
    .reduce_costs__text h1 {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: #ffc600; }
      @media (min-width: 992px) {
        .reduce_costs__text h1 {
          font-size: 30px; } }
    .reduce_costs__text p {
      padding-top: 15px;
      text-align: center;
      font-size: 20px;
      width: 100%;
      color: #FFFFFF; }
      @media (min-width: 992px) {
        .reduce_costs__text p {
          font-size: 20px; } }

* {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  box-sizing: border-box; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }
