/*$heavy_metal:#2F2E2E;*/
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px; } }
  @media (min-width: 1700px) {
    .container {
      max-width: 1852px; } }

.container-sm {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 576px) {
    .container-sm {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container-sm {
      max-width: 620px; } }
  @media (min-width: 992px) {
    .container-sm {
      max-width: 760px; } }
  @media (min-width: 1200px) {
    .container-sm {
      max-width: 1050px; } }
  @media (min-width: 1400px) {
    .container-sm {
      max-width: 1280px; } }
  @media (min-width: 1700px) {
    .container-sm {
      max-width: 1452px; } }

.header {
  width: 100%;
  height: 118px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99; }
  @media (min-width: 1199px) {
    .header {
      position: absolute;
      height: auto; } }
  .header__mobile {
    width: 100%;
    display: block; }
    @media (min-width: 1200px) {
      .header__mobile {
        display: none; } }
    .header__mobile .container {
      padding: 15px; }
    .header__mobile__top {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header__mobile__top__logo {
        width: 120px;
        height: 73px; }
      .header__mobile__top__toggle {
        width: 43px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px;
        /*&--active {
					border: 1px solid transparent;
				
					.header__mobile__top__toggle__bar {
						background-color: transparent;
	
						&::before {
							top: 0;
							left: 0;
							transform: rotate(315deg);
						}
	
						&::after {
							top: 0;
							left: 0;
							transform: rotate(-315deg);
						}
					}
	
				}*/ }
        .header__mobile__top__toggle__bar {
          width: 100%;
          height: 2px;
          background-color: #000000;
          position: relative;
          transition: 0.3s; }
          .header__mobile__top__toggle__bar::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: -8px;
            left: 0;
            background-color: #000000;
            transition: 0.3s; }
          .header__mobile__top__toggle__bar::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: -8px;
            left: 0;
            background-color: #000000;
            transition: 0.3s; }
  .header__desktop {
    width: 100%;
    height: 100%;
    display: none; }
    @media (min-width: 1200px) {
      .header__desktop {
        display: block; }
        .header__desktop .container-sm {
          display: flex;
          align-items: center;
          justify-content: space-between; } }
    .header__desktop__logo {
      width: 192px;
      height: 117px; }
    .header__desktop__pages {
      display: flex;
      gap: 10px;
      font-size: 14px;
      font-weight: 700; }
      @media (min-width: 1440px) {
        .header__desktop__pages {
          gap: 40px; } }
      .header__desktop__pages--active {
        color: #F7C50A; }
        .header__desktop__pages--active hr {
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A;
          border: none; }
      .header__desktop__pages--one {
        color: #FFFFFF; }
        .header__desktop__pages--one hr {
          opacity: 0;
          border: none;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A; }
        .header__desktop__pages--one:hover {
          color: #F7C50A; }
          .header__desktop__pages--one:hover hr {
            opacity: 1; }
      .header__desktop__pages--two {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        font-size: 14px;
        font-weight: 700;
        color: #FFFFFF;
        cursor: pointer; }
        .header__desktop__pages--two hr {
          opacity: 0;
          border: none;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A; }
        .header__desktop__pages--two:hover {
          color: #F7C50A; }
          .header__desktop__pages--two:hover hr {
            opacity: 1; }
        .header__desktop__pages--two--active {
          color: #F7C50A; }
          .header__desktop__pages--two--active hr {
            opacity: 1; }
      .header__desktop__pages--three {
        color: #FFFFFF; }
        .header__desktop__pages--three hr {
          opacity: 0;
          border: none;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A; }
        .header__desktop__pages--three:hover {
          color: #F7C50A; }
          .header__desktop__pages--three:hover hr {
            opacity: 1; }
      .header__desktop__pages--four {
        color: #FFFFFF; }
        .header__desktop__pages--four hr {
          opacity: 0;
          border: none;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A; }
        .header__desktop__pages--four:hover {
          color: #F7C50A; }
          .header__desktop__pages--four:hover hr {
            opacity: 1; }
      .header__desktop__pages--five {
        color: #FFFFFF; }
        .header__desktop__pages--five hr {
          opacity: 0;
          border: none;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A; }
        .header__desktop__pages--five:hover {
          color: #F7C50A; }
          .header__desktop__pages--five:hover hr {
            opacity: 1; }
      .header__desktop__pages--six {
        color: #FFFFFF; }
        .header__desktop__pages--six hr {
          opacity: 0;
          border: none;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A; }
        .header__desktop__pages--six:hover {
          color: #F7C50A; }
          .header__desktop__pages--six:hover hr {
            opacity: 1; }
      .header__desktop__pages--seven {
        color: #FFFFFF; }
        .header__desktop__pages--seven hr {
          opacity: 0;
          border: none;
          width: 50%;
          margin: auto;
          margin-top: 10px;
          height: 1px;
          background-color: #F7C50A; }
        .header__desktop__pages--seven:hover {
          color: #F7C50A; }
          .header__desktop__pages--seven:hover hr {
            opacity: 1; }

.menu {
  width: 65%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -200%;
  background-color: #000000;
  z-index: 100;
  padding: 30px 5px;
  transition: 0.3s; }
  .menu--active {
    left: 0%; }
  .menu__button {
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF; }
    .menu__button svg {
      width: 100%; }
  .menu .container {
    height: 100%;
    display: flex;
    flex-direction: column; }
  .menu__media {
    display: flex;
    gap: 10px;
    padding-bottom: 30px; }
    .menu__media a {
      width: 19px;
      color: #F7C50A; }
  .menu__link a, .menu__link button {
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    transition: 0.3s; }
  .menu__link hr {
    margin: 10px 0;
    width: 100%;
    border: 0.09px solid #605E5E; }
  .menu__link__submenu {
    padding: 10px; }
  .menu__link--one:hover {
    color: #F7C50A; }
  .menu__link--two:hover {
    color: #F7C50A; }
  .menu__link--three:hover {
    color: #F7C50A; }
  .menu__link--four:hover {
    color: #F7C50A; }
  .menu__link--five:hover {
    color: #F7C50A; }
  .menu__link--six:hover {
    color: #F7C50A; }
  .menu__link--seven:hover {
    color: #F7C50A; }

.footer {
  width: 100%;
  background-color: #1f1f1f;
  padding: 10px 0;
  position: absolute; }
  @media (min-width: 1199px) {
    .footer {
      padding: 15px 0; } }
  .footer h1 {
    letter-spacing: -0.05em;
    color: #F7C50A;
    line-height: 0.8em;
    text-align: center;
    font-size: 15px;
    font-weight: normal; }
    @media (min-width: 1199px) {
      .footer h1 {
        font-size: 17px; } }

.media {
  position: fixed;
  top: 250px;
  left: 0px;
  display: none;
  transform: rotate(270deg);
  z-index: 110; }
  @media (min-width: 992px) {
    .media {
      display: flex;
      align-items: flex-start;
      gap: 30px; } }
  .media a {
    transform: rotate(90deg);
    width: 19px;
    font-weight: 700;
    font-size: 12px;
    color: #000000; }

.submenu {
  position: absolute;
  z-index: 200;
  top: -200px;
  right: 55%;
  background-color: #000000;
  width: 160px;
  height: auto;
  padding: 20px;
  transition: 0.3s; }
  @media (min-width: 1400px) {
    .submenu {
      right: 45%; } }
  @media (min-width: 1441px) {
    .submenu {
      right: 55%; } }
  @media (min-width: 1700px) {
    .submenu {
      right: 50%; } }
  .submenu--active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    top: 80px; }
  .submenu a {
    color: #FFFFFF; }
    .submenu a:hover {
      color: #1B8233; }

.hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 500px; }
  @media (min-width: 1199px) {
    .hero {
      height: 800px; } }
  .hero--prev {
    position: absolute;
    left: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .hero--prev svg {
      width: 40px;
      fill: white;
      opacity: 0.5; }
  .hero--next {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 2; }
    .hero--next svg {
      width: 40px;
      fill: white;
      opacity: 0.5; }
  .hero__form {
    width: 100%;
    height: 100%; }
    .hero__form--one {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/Banner.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .hero__form--one .container-sm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 200px 0; }
        @media (min-width: 1199px) {
          .hero__form--one .container-sm {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start; } }
      .hero__form--one__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        @media (min-width: 1199px) {
          .hero__form--one__text {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start; } }
        .hero__form--one__text h1 {
          width: 100%;
          font-size: 25px;
          color: #F7C50A; }
          @media (min-width: 992px) {
            .hero__form--one__text h1 {
              font-size: 70px;
              line-height: 56px; } }
        .hero__form--one__text p {
          font-size: 20px;
          color: #FFFFFF;
          padding-bottom: 60px;
          padding-top: 10px; }
          @media (min-width: 992px) {
            .hero__form--one__text p {
              font-size: 40px;
              line-height: 56px; } }
        .hero__form--one__text__button {
          background-color: #1B8233;
          font-size: 14px;
          color: #FFFFFF;
          font-weight: normal;
          padding: 15px;
          width: auto;
          /*Animation*/
          animation-name: butt;
          animation-duration: 2s;
          animation-iteration-count: initial; }
          @media (min-width: 1199px) {
            .hero__form--one__text__button {
              padding: 20px 40px; } }
          .hero__form--one__text__button:hover {
            background-color: #F7C50A;
            border: 2px solid #FFFFFF; }
    .hero__form--two {
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/Hotel.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      .hero__form--two .container-sm {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 200px 0; }
        @media (min-width: 1199px) {
          .hero__form--two .container-sm {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start; } }
      .hero__form--two__text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        @media (min-width: 1199px) {
          .hero__form--two__text {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start; } }
        .hero__form--two__text h1 {
          width: 100%;
          font-size: 25px;
          color: #F7C50A;
          text-align: center; }
          @media (min-width: 992px) {
            .hero__form--two__text h1 {
              text-align: start;
              font-size: 70px;
              line-height: 56px; } }
        .hero__form--two__text p {
          font-size: 20px;
          color: #FFFFFF;
          padding-bottom: 60px;
          padding-top: 10px;
          text-align: center; }
          @media (min-width: 992px) {
            .hero__form--two__text p {
              text-align: start;
              font-size: 40px;
              line-height: 56px; } }
        .hero__form--two__text__button {
          background-color: #1B8233;
          font-size: 14px;
          color: #FFFFFF;
          font-weight: normal;
          padding: 15px;
          width: auto;
          /*Animation*/
          animation-name: butt;
          animation-duration: 2s;
          animation-iteration-count: initial; }
          @media (min-width: 1199px) {
            .hero__form--two__text__button {
              padding: 20px 40px; } }
          .hero__form--two__text__button:hover {
            background-color: #F7C50A;
            border: 2px solid #FFFFFF; }

.swiper {
  width: 100%;
  height: 100%; }
  .swiper .swiper-slide {
    width: 100% !important;
    height: 100%; }
  .swiper .swiper-pagination-bullet {
    background-color: #FFFFFF;
    opacity: 0.6; }
  .swiper .swiper-pagination-bullet-active {
    background-color: transparent;
    border: 1px solid white; }

.reduce_costs {
  width: 100%;
  position: relative;
  background-color: #000000;
  z-index: 1; }
  .reduce_costs .container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 60px 0;
    padding: 0 15px; }
    @media (min-width: 1199px) {
      .reduce_costs .container-sm {
        padding: 0 100px; } }
    @media (min-width: 1399px) {
      .reduce_costs .container-sm {
        padding: 0 200px; } }
  .reduce_costs__grid {
    position: relative;
    bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    z-index: 999999; }
    @media (min-width: 992px) {
      .reduce_costs__grid {
        bottom: 60px;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px; } }
    .reduce_costs__grid__item {
      width: 100%;
      background-color: #ffc600;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px; }
      .reduce_costs__grid__item__icon {
        width: 100px; }
      .reduce_costs__grid__item p {
        padding-top: 10px;
        font-size: 16px;
        font-weight: 700;
        text-align: center; }
  .reduce_costs__text {
    padding-bottom: 20px; }
    @media (min-width: 992px) {
      .reduce_costs__text {
        padding-top: 0; } }
    .reduce_costs__text h1 {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      color: #ffc600; }
      @media (min-width: 992px) {
        .reduce_costs__text h1 {
          font-size: 30px; } }
    .reduce_costs__text p {
      padding-top: 15px;
      text-align: center;
      font-size: 15px;
      width: 100%;
      color: #FFFFFF; }
      @media (min-width: 992px) {
        .reduce_costs__text p {
          font-size: 20px; } }

.promotion {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("../img/para3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 500px; }
  .promotion .container-sm {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding: 60px 0; }
  .promotion h1 {
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center; }
    @media (min-width: 768px) {
      .promotion h1 {
        font-size: 48px; } }
  .promotion p {
    width: 100%;
    opacity: 0.8;
    color: white;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    font-size: 15px;
    margin-top: 20px; }
    @media (min-width: 768px) {
      .promotion p {
        width: 50%;
        font-size: 16px; } }
  .promotion__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7C50A;
    /*text*/
    font-size: 14px;
    font-weight: 800;
    margin-top: 16px;
    letter-spacing: 0.5px;
    padding: 12px 23px;
    color: #FFFFFF; }
    @media (min-width: 768px) {
      .promotion__button {
        font-size: 20px; } }
    .promotion__button:hover {
      color: #FFFFFF;
      background-color: #000000;
      border: 1px solid #F7C50A; }

.win_win {
  width: 100%;
  position: relative; }
  .win_win .container-sm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
    gap: 40px; }
    @media (min-width: 1199px) {
      .win_win .container-sm {
        padding: 15px 0;
        grid-template-columns: repeat(2, 1fr); } }
  .win_win__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .win_win__text h1 {
      color: #1b8233;
      text-align: center;
      font-weight: 900;
      font-size: 25px;
      font-family: poppins;
      margin-bottom: 15px; }
      @media (min-width: 768px) {
        .win_win__text h1 {
          font-size: 30px;
          margin-bottom: 30px; } }
    .win_win__text h2 {
      text-align: center;
      font-weight: 800;
      font-size: 20px;
      font-family: poppins;
      color: #272727;
      margin-bottom: 15px; }
      @media (min-width: 768px) {
        .win_win__text h2 {
          font-size: 24px;
          margin-bottom: 30px; } }
    .win_win__text p {
      font-family: hind;
      color: #000000;
      line-height: 26px;
      letter-spacing: 0.3px;
      text-align: center;
      font-size: 15px;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .win_win__text p {
          font-size: 17px;
          margin-bottom: 20px; } }
    .win_win__text h4 {
      color: #1b8233;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      font-family: poppins;
      margin: 8px 0; }
      @media (min-width: 768px) {
        .win_win__text h4 {
          font-size: 21px;
          margin: 10px 0; } }
    .win_win__text__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F7C50A;
      /*Text*/
      font-size: 14px;
      font-weight: 800;
      margin-top: 16px;
      letter-spacing: 0.5px;
      padding: 12px 23px;
      color: #FFFFFF; }
      @media (min-width: 768px) {
        .win_win__text__button {
          font-size: 20px; } }
      .win_win__text__button:hover {
        color: #FFFFFF;
        background-color: #000000;
        border: 1px solid #F7C50A; }
  .win_win__imagen {
    width: 100%;
    position: static;
    margin: auto; }
    @media (min-width: 1199px) {
      .win_win__imagen {
        position: relative;
        bottom: 48px; } }
    @media (min-width: 1399px) {
      .win_win__imagen {
        bottom: 36px; } }
    @media (min-width: 1677px) {
      .win_win__imagen {
        bottom: 39px; } }

.idea {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  height: 100%; }
  @media (min-width: 1199px) {
    .idea {
      background-color: #FFFFFF;
      height: 100%; } }
  .idea .container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 0; }
    @media (min-width: 1199px) {
      .idea .container-sm {
        padding: 20px 0 60px 0; } }
  .idea__imagen {
    background-color: #F7C50A;
    width: 100%;
    display: none; }
    @media (min-width: 1199px) {
      .idea__imagen {
        display: block; } }
  .idea__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .idea__text h1 {
      font-size: 25px;
      color: #F7C50A;
      text-align: center;
      padding-bottom: 15px; }
      @media (min-width: 1199px) {
        .idea__text h1 {
          font-size: 30px; } }
    .idea__text p {
      font-size: 15px;
      color: #F7C50A;
      text-align: center; }
      @media (min-width: 1199px) {
        .idea__text p {
          font-size: 17px; } }

.our_products {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%; }
  .our_products .container-sm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 10px;
    gap: 30px; }
    @media (min-width: 768px) {
      .our_products .container-sm {
        grid-template-columns: repeat(2, 1fr);
        padding: 150px 0; } }
  .our_products__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .our_products__text h1 {
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 25px;
      font-weight: 600; }
      @media (min-width: 768px) {
        .our_products__text h1 {
          width: 70%;
          font-size: 40px; } }
  .our_products__carousel__decoration {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; }
    .our_products__carousel__decoration__controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px; }
      .our_products__carousel__decoration__controls--prev {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        z-index: 2;
        border: 1px solid #FFFFFF; }
        .our_products__carousel__decoration__controls--prev svg {
          width: 30px;
          fill: #FFFFFF;
          padding: 5px; }
        .our_products__carousel__decoration__controls--prev:hover {
          background-color: #000000;
          border: 1px solid #F7C50A;
          cursor: pointer; }
      .our_products__carousel__decoration__controls--next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        z-index: 2;
        border: 1px solid #FFFFFF; }
        .our_products__carousel__decoration__controls--next svg {
          width: 35px;
          fill: #FFFFFF;
          padding: 5px; }
        .our_products__carousel__decoration__controls--next:hover {
          background-color: #000000;
          border: 1px solid #F7C50A;
          cursor: pointer; }
    .our_products__carousel__decoration hr {
      width: 100%;
      height: 1px; }
  .our_products__carousel__imagen {
    width: 100%;
    padding: 0 5px; }
    @media (min-width: 768px) {
      .our_products__carousel__imagen {
        padding: 0 18px; } }
    .our_products__carousel__imagen img {
      border-radius: 15px; }

.swiper_products {
  width: 100%;
  height: 80%;
  overflow: hidden; }
  @media (min-width: 768px) {
    .swiper_products {
      height: 100%; } }
  .swiper_products .swiper-slide {
    width: 100% !important;
    height: 100%; }
    @media (min-width: 1199px) {
      .swiper_products .swiper-slide {
        width: 33% !important; } }

.sale {
  width: 100%;
  position: relative; }
  .sale .container-sm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
    gap: 40px; }
    @media (min-width: 1199px) {
      .sale .container-sm {
        padding: 0;
        grid-template-columns: repeat(2, 1fr); } }
  .sale__imagen {
    width: 100%;
    position: static;
    margin: auto; }
    @media (min-width: 1199px) {
      .sale__imagen {
        position: relative;
        bottom: 15px; } }
    @media (min-width: 1399px) {
      .sale__imagen {
        bottom: 18px; } }
    @media (min-width: 1677px) {
      .sale__imagen {
        bottom: 22px; } }
  .sale__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; }
    @media (min-width: 1199px) {
      .sale__text {
        padding-top: 64px; } }
    .sale__text h1 {
      color: #1b8233;
      text-align: center;
      font-weight: 900;
      font-size: 25px;
      font-family: poppins;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .sale__text h1 {
          font-size: 30px;
          margin-bottom: 20px; } }
    .sale__text p {
      font-family: hind;
      color: #000000;
      line-height: 26px;
      letter-spacing: 0.3px;
      text-align: center;
      font-size: 15px;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .sale__text p {
          font-size: 17px;
          margin-bottom: 20px; } }
    .sale__text__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F7C50A;
      /*Text*/
      font-size: 14px;
      font-weight: 800;
      margin-top: 16px;
      letter-spacing: 0.5px;
      padding: 12px 23px;
      color: #FFFFFF; }
      @media (min-width: 768px) {
        .sale__text__button {
          font-size: 20px; } }
      .sale__text__button:hover {
        color: #FFFFFF;
        background-color: #000000;
        border: 1px solid #F7C50A; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  box-sizing: border-box; }

button {
  border: 0;
  outline: none;
  background-color: transparent;
  transition: 0.3s; }

a {
  text-decoration: none;
  transition: 0.3s; }

svg {
  width: 100%;
  height: 100%; }
