//* Globals
@import 'globals/colors';
@import 'globals/containers';


//* Mixins
@import 'mixins/flex';

//* Layouts

@import 'layout/header';
@import 'layout/whatsapp';
@import 'layout/menu';
@import 'layout/footer';

//*Components
@import 'components/service';
@import 'components/information';
@import 'components/clients';
@import 'components/we_ensure';
@import 'components/price';
@import 'components/experts';
@import 'components/quote';
@import 'components/why_we';
@import 'components/urgent';
@import 'components/imagen';



*{
	margin: 0;
	padding: 0;
	font-family: Arial,Helvetica,sans-serif;
	box-sizing: border-box;

}

button{
	border: 0;
	outline: none;
	background-color: transparent;
	transition: 0.3s;
}

a{
	text-decoration: none;
	transition: 0.3s;
}

svg{
	width: 100%;
	height: 100%;
}

