.hero_cobertura{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(29,62, 153,0.5),rgba(29, 62, 153, 0.3)),url('https://static.wixstatic.com/media/914e21_775107af93944a8f926f38c5372df39c~mv2.png/v1/fill/w_640,h_544,al_c,q_85,usm_1.20_1.00_0.01,enc_auto/914e21_775107af93944a8f926f38c5372df39c~mv2.png');	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media(min-width: 1199px){
        background-attachment: fixed;  
        margin-top: 220px;
        position: relative;
        height: 220px;
    }

    &__banner_top{
        width: 100%;
        height: auto;
        padding: 50px 0;

        @media(min-width:1199px){
            padding:10px 0 0 0 ;
            background-color: rgba(250, 250, 250, 0.75);
            padding: 20px 0;
        }

        h1{
            line-height: 30px;
            text-align: center;
            font-size: 36px;
            letter-spacing: normal;
            color: $white;
            margin: auto;
            animation: typing;
            animation-duration: 2s;
            animation-iteration-count:initial;
            overflow: hidden;
            white-space: nowrap;
          

            @media(min-width: 1199px){
                width: 100%;
                font-size: 100px;
                line-height: 90px;
                color:$heavy_metal;

                @keyframes typing  {
                    from{
                        width: 0; 
                    }
                  
                    to{
                        width: 100%;
                    }
                    
                }
            }

        }
    
        hr{
            width: 98px;
            margin: auto;
            border: 5px solid $mikado_yellow;
            animation-name: line;
            animation-duration: 4s;
            animation-iteration-count:initial;
    
            @media(min-width:1199px){
                @keyframes line {
                    0%{
                        width: 0%
                    }
        
                    100%{
                        width: 98px;
                    }
                    
                }
            }
    
        }
    }

}