.hero_units{
    width: 100%;
    height: 100%;
    
     @media(min-width: 1199px){
        background-image: url("../img/FLETES URGENTES.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;  
        position: relative;
        height: 600px;
        margin-top: 231px;
    }

    img{
        width: 100%;
        
        @media(min-width:1199px) {
            display: none;
        }
    }

    &__banner_top{
        width: 100%;
        height: auto;
        background-color: rgba(250, 250, 250, 0.75);
        padding: 20px 0;

        @media(min-width:1199px){
            padding: 30px 0;
        }

        h1{
            width: 50%;
            line-height: 30px;
            text-align: center;
            font-size: 36px;
            letter-spacing: normal;
            color:$heavy_metal;
            padding-bottom: 20px;
            margin: auto;
            animation-name: text;
            animation-duration: 2s;
            animation-iteration-count:initial;

            @media(min-width: 1199px){
                overflow: hidden;
                white-space: nowrap;
                width: 100%;
                font-size: 80px;
                line-height: 90px;

                @keyframes text {
                    from{
                        width: 0; 
                    }
                  
                    to{
                        width: 100%;
                    }
                    
                }
            }

        }
    
        hr{
            width: 98px;
            margin: auto;
            border: 5px solid $mikado_yellow;
            animation-name: line;
            animation-duration: 4s;
            animation-iteration-count:initial;
            
    
            @media(min-width:1199px){
                @keyframes line {
                    0%{
                        width: 0%
                    }
        
                    100%{
                        width: 98px;
                    }
                    
                }
            }
    
        }
    }

    &__banner_bottom{
        width: 100%;
        height: auto;
        background-color: $heavy_metal;
        padding: 20px 0;
    
        @media(min-width: 1199px){
            position: relative;
            bottom:-25%;
            padding: 30px 0;
            z-index: 1;
        }

        .container-sm{
            @include flex-center-center;
            flex-direction: column;
        }

        h2{
            width: 90%;
            font-weight: bold;
            font-style: normal;
            font-size: 31px;
            line-height: normal;
            text-align: center;
            color: $white;
            margin-bottom: 20px;

            @media(min-width: 1199px){
                font-size: 75px;
            }
        }

        h3{
            letter-spacing: 0em;
            text-align: center;
            font-size: 16px;
            color:$mikado_yellow;
            font-weight: normal;

            @media(min-width: 1199px){
                font-size: 21px;
            }
        }

        a{
            letter-spacing: 0em;
            text-align: center;
            font-size: 20px;
            color:$mikado_yellow;
            font-weight: 900;
            text-decoration: underline;
            padding-bottom: 20px;

            @media(min-width: 1199px){
                font-size: 29px;
            }
        }

        p{
            width: 80%;
            text-align: center;
            font-size: 20px;
            color: $white;
            font-weight: 900;
            text-decoration: underline;
            line-height: normal;

            @media(min-width: 1199px){
                font-size: 29px;
            }

        }
    }
}