.contact{
    width: 100%;
    height: 100%;
    padding: 30px 0;

    @media(min-width:1199px){
        padding: 60px 0;
    }

    .container-sm{
        @include flex-center-center;
        flex-direction: column;
    }

    a{
        line-height: 1.2em;
        text-align: center;
        font-size: 22px;
        color: $heavy_metal;
        text-decoration: underline;
        letter-spacing: 0;
        font-weight: 900;

        @media(min-width:1199px){
            font-size:54px;
        }

    }

    h1{
        width: 70%;
        font-size: 22px;
        color: $heavy_metal;
        text-align: center;
        padding: 10px 0;

        @media(min-width:1199px){
            width: 100%;
            font-size:75px;
            padding: 30px 0;
        }


    }

    hr{
        width: 98px;
        margin: auto;
        border: 5px solid $mikado_yellow;
        animation-name: line;
        animation-duration: 4s;
        animation-iteration-count:initial;

        @media(min-width:1199px){
            @keyframes line {
                0%{
                    width: 0%
                }
    
                100%{
                    width: 98px;
                }
                
            }
        }
    }
}