.image_services{
    width: 100%;
    height: 200px;
    background-image: url("../img/FLETES URGENTES.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;

    @media(min-width: 1199px){
        z-index: -2;
        height: 600px;
    }

}