.hero_us{
    width: 100%;
    width: 100%;
	overflow: hidden;
	position: relative;
	height: 500px;
    background-image: url('../img/us/Nosbn.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}