.header {
	width: 100%;
	height: 118px;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	@media(min-width:1199px){
		position:absolute;
		height: auto;
	}

	&__mobile {
		width: 100%;
		display: block;

		@media(min-width: 1200px) {
			display: none;
		}

		.container{
			padding:15px;
		}

		&__top{
			@include flex-center-between;
			
			&__logo {
				width: 120px;
				height:73px ;
	
			}
	
			&__toggle {
				width: 43px;
				height: 43px;
				@include flex-center-center;
				cursor: pointer;
				border-radius: 4px;
				padding: 10px;
	
				&__bar {
					width: 100%;
					height: 2px;
					background-color: $black;
					position: relative;
					transition: 0.3s;
	
					&::before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						top: -8px;
						left: 0;
						background-color: $black;
						transition: 0.3s;
					}
	
					&::after {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						bottom: -8px;
						left: 0;
						background-color: $black;
						transition: 0.3s;
					}
	
				}
	
				/*&--active {
					border: 1px solid transparent;
				
					.header__mobile__top__toggle__bar {
						background-color: transparent;
	
						&::before {
							top: 0;
							left: 0;
							transform: rotate(315deg);
						}
	
						&::after {
							top: 0;
							left: 0;
							transform: rotate(-315deg);
						}
					}
	
				}*/
			}
		}
		

	}

	&__desktop {
		width: 100%;
		height: 100%;
		background-color: black;
		display: none; 
	

		@media(min-width: 1200px) {
			display: block;

			.container-sm{
				@include flex-center-between;
			}
			
		}

		&__logo{
			width: 192px;
			height: 117px;
		}

		&__pages{
			display: flex;
			gap: 40px;

			a{
				font-weight: 700;
				font-size: 12px;
				color: $white;
			}
		}


	}

}