.menu{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: -200%;
    left: 0;
	background-color: $heavy_metal;
	z-index: 100;
	padding: 30px 0;
	transition: 0.3s;

	&--active{
		top: 100px;
	}

	.container{
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 0 50px;

		a{
			font-size: 18px;
			color: $mikado_yellow;
			text-transform: uppercase;
			padding: 10px 0;
			transition: 0.3s;

		}

		hr{
			width: 100%;
		}



	}

}