$black: #000000;
$white: #FFFFFF;

$heavy_metal:#2F2E2E;

$mikado_yellow:#FFCB00;
$saffron_mango:#E1CB5E;
$candlelight:#FFDA1F;
$naples_yellow:#FBDB5B;
$light_tan:#FBEBA3;

$storm_dust:#5E5E5E;
$carbon_grey:#605E5E;
$star_dust:#A0A09F ;
$grey_goose:#CFCFCF;

$vibrant_green:#0EE62F;

$cobalt:#1D3E99;
$mariner:#3A61CF;

$green_white:#ebebdb;

