.container {
	padding: 0 15px;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;

	@media(min-width: 576px) {
		max-width: 540px;
	}

	@media(min-width: 768px) {
		max-width: 720px;
	}

	@media(min-width: 992px) {
		max-width: 960px;
	}

	@media(min-width: 1200px) {
		max-width: 1140px;
	}

	@media(min-width: 1400px) {
		max-width: 1320px;
	}

	@media(min-width: 1700px) {
		max-width: 1652px;
	}

}

.container-sm{
	padding: 0 15px;
	margin: 0 auto;
	max-width: 100%;
	width: 100%;


	@media(min-width: 576px) {
		max-width: 340px;
	}

	@media(min-width: 768px) {
		max-width: 320px;
	}

	@media(min-width: 992px) {
		max-width: 560px;
	}

	@media(min-width: 1200px) {
		max-width: 1000px;
	}

	@media(min-width: 1400px) {
		max-width: 1080px;
	}

	@media(min-width: 1700px) {
		max-width: 1252px;
	}

}