.clients{
    width: 100%;
    height:auto;
    background-color: white;
    display: none;
    margin: auto;
    flex-direction: column;
    padding: 20px 0;

    @media(min-width:1199px){
        @include flex-center-center;
        height:auto;
        position: relative;
	    overflow: hidden;
        padding: 60px 0;
    }


    h1{
        font-size: 23px;
        color: black;
        letter-spacing: normal;
        line-height: normal;
        padding: 20px 0;
        text-align: center;

        @media(min-width:1199px){
            font-size: 40px;
        }
    }


    hr{
        width: 98px;
        margin: auto;
        border: 5px solid $mikado_yellow;
        animation-name: line;
        animation-duration: 4s;
        animation-iteration-count:initial;

        @media(min-width:1199px){
            @keyframes line {
                0%{
                    width: 0%
                }
    
                100%{
                    width: 98px;
                }
                
            }
        }
    }

    &__grid{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding-top: 20px;
        animation-name: animation;
        animation-duration: 4s;
        animation-iteration-count:initial;
       

        @media(min-width:1199px){
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;

            @keyframes animation {
                0%{
                    transform: scale(0.1)
                }
                
            }
        }

        @media(min-width:1400px){
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }

        img{
            width: 100%;
            margin: auto;

            @media(min-width:1199px){
                width: 175px;
            }

        }


    }
}

.clients_movil{
    width: 100%;
	overflow: hidden;
	position: relative;
	height: 350px;
    @include flex-center-center;

    @media(min-width: 768px){
        height: 600px;
    }

    @media(min-width: 1199px){
        display: none;
    }

	&--prev{
		position: absolute;
        left: 15px;
		top: 50%;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 40px;
			fill: black;
            opacity: 0.5;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 50%;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 40px;
			fill: black;
            opacity: 0.5;
		}

	}

    h1{
        font-size: 23px;
        color: black;
        letter-spacing: normal;
        line-height: normal;
        padding: 20px 0;
        text-align: center;

        @media(min-width: 768px){
            font-size: 40px;
        }
    }


    hr{
        width: 98px;
        margin: auto;
        border: 5px solid $mikado_yellow;
        animation-name: line;
        animation-duration: 4s;
        animation-iteration-count:initial;

        @media(min-width:1199px){
            @keyframes line {
                0%{
                    width: 0%
                }
    
                100%{
                    width: 98px;
                }
                
            }
        }
    }

    &__form{
        width: 100%;
        height: 100%;
        margin: auto;
        @include flex-center-center;
        
        &--img{
            width: 175px;
            margin: auto;

            
        }

    }
}

.swiper_movil {
    padding-top: 20px;
	width: 100%;
	height: 100%;

		.swiper-slide{
			width: 100% !important;
			height: 100%;
			@include flex-center-center;
			
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;


		}

        .swiper-pagination-bullet{
            background-color: $white;
            opacity: 0.6;
            
        }

        .swiper-pagination-bullet-active {
            background-color: transparent;
            border: 1px solid white;
            
        }

}