.experts{
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 500px;

    @media(min-width: 1199px){
        margin-top: 95px;
        height: 800px;

    }

	&--prev{
		position: absolute;
        left: 15px;
		top: 50%;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 40px;
			fill: white;
            opacity: 0.5;
		}

	}

	&--next{
		position: absolute;
        right: 15px;
		top: 50%;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		z-index: 2;


		svg{
			width: 40px;
			fill: white;
            opacity: 0.5;
		}

	}

    &__form{
        width: 100%;
        height: 100%;
        @include flex-center-center;
        
        &--video{
            flex-direction: column;

            video{
                width: 100%;
                height: 100%;
                position: relative;
                filter:brightness(60%);
                z-index:-1;
                object-fit: cover;
            }

            h1{
                width: 70%;
                position: absolute;
                font-size: 15px;
                color: $white;
                text-align: center;

                @media(min-width: 1199px){
                    font-size: 44px;
                    margin: auto;
                    line-height: 56px;
                    text-shadow: 2px 2px 2px #000;
                }
            }
    
            span{
                color:$mikado_yellow;
            }
            
        }

        &__button{
            position: absolute;
            bottom: 26%;
            margin-top: 60px;
            background-color: $mikado_yellow;
            font-size: 23px;
            color: #000;
            font-weight: 700;
            padding: 13px 81px;
            border-radius: 12px;
            animation-name: butt;
            width: 308px;
            animation-duration: 2s;
            animation-iteration-count: initial;

            @media(min-width:1199px){
                @keyframes butt {
                    0%{
                        opacity: 0;
                        width: 0%;
                        color: transparent;
                    }
        
                    90%{
                        opacity: 1;
                        width: 6%;
                    }
    
                    100%{
                        color: $black;
                    }
                    
                }
            }
            
            &:hover{
                background-color: $white;
                border: 1px solid black;
            }
        }
    }
}

.swiper {
	width: 100%;
	height: 100%;

		.swiper-slide{
			width: 100% !important;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;


		}

        .swiper-pagination-bullet{
            background-color: $white;
            opacity: 0.6;
            
        }

        .swiper-pagination-bullet-active {
            background-color: transparent;
            border: 1px solid white;
            
        }

}