.reduce_costs{
    width: 100%;
	position: relative;
    background-color: $black;
    z-index: 1;
    padding: 0px 0 30px 0;

    @media(min-width:1199px){
        padding: 0px 0 50px 0;
    }

    .container-sm{
        @include flex-center-center;
        flex-direction: column;
        padding: 0 0 60px 0;
        padding: 0 15px ;

        @media(min-width:1199px){
            padding: 0 100px;
        }

        @media(min-width:1399px){
            padding: 0 200px;
        }

    }

    &__grid{
        position: relative;
        bottom: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        z-index: 999999 ;

        @media(min-width:992px){
            bottom: 60px;
            grid-template-columns: repeat(3, 1fr);
            gap: 70px;
        }

        &__item{
            width: 100%;
            background-color: $saffron_mango;
            @include flex-center-center;
            flex-direction: column;
            padding: 20px;

            &__icon{
                width: 100px;
            }

            p{
                padding-top: 10px;
                font-size: 17px;
                font-weight: 700;
                text-align: center;
            }
        }
    }

    &__text{
        padding-bottom: 20px;

        @media(min-width:992px){
            padding-top: 0;
        }

        h1{
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            color: $saffron_mango;
            text-transform: uppercase;

            @media(min-width: 992px){
                font-size: 30px;
            }
        }

        p{
            padding-top: 15px;
            text-align: center;
            font-size: 15px;
            width: 100%;
            color: $white;

            @media(min-width: 992px){
                font-size:17px;
            }
        }
    }
}