.we_ensure{
    width: 100%;
    height: 100%;
    background-color: rgb(227, 227, 227);
    padding: 20px 30px;

    @media(min-width: 1199px){
        margin: auto;
        padding:0 0px 30px 0 ;
    }
    
    .container-sm{
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        @media(min-width: 1232px){
            max-width: 100%;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &--left{
        width: 20%;
        border: 2px solid $mikado_yellow;
        position:absolute;
    }

    &__information{
        width: 100%;
        height: 100%;
        background-color: $white;
        display: none;
        z-index: 2;


        &--left{
            width: 20%;
            position:relative;
            top: -40%;
            left: 54%;

            @media(min-width: 2500px){
                top: -40%;
                left: 57%;
            }

            &__horizontal{
                border: 2px solid $mikado_yellow;
                position: relative;
                left: 30%;

            }

            &__vertical{
                position: relative;
                border: 2px solid $mikado_yellow;
                transform: rotate(90deg);
                top: 50px;
                
                @media(min-width: 1400px){
                    top: 76px;
                }

                @media(min-width: 2500px){
                    top: 110px;
                }
            }
            
        }

        &--right{
            width: 20%;
            position:relative;
            bottom: -25%;
            left:77%;

            @media(min-width: 2500px){
                bottom: -20%;
                left:74%;
            }

            &__horizontal{
                border: 2px solid $mikado_yellow;
                position: relative;
                top: 84px;
                left: -50px;

            }

            &__vertical{
                position: relative;
                border: 2px solid $mikado_yellow;
                transform: rotate(90deg);
                top: 40px;

                @media(min-width: 1400px){
                    top: 12px;
                }

                @media(min-width: 1800px){
                    top: 0px;
                }

                @media(min-width: 2500px){
                    top: -35px;
                }
            
            }
        }

        @media(min-width:1232px){
            @include flex-center-center;
            padding-right: 120px;
            animation-name: information;
            animation-duration: 2s;
            animation-iteration-count:initial;
           
        }

        p{
            width: 30%;
            margin-left: auto;
            letter-spacing: normal;
            line-height: 1.9em;
            font-size: 21px;
            text-align: center;
            font-weight: normal;

            &:hover{
                transform: scale(120%);
                transition: 0.5s;
            }
        }

        @keyframes information {
            0%{
               transform: translateX(200%);
            }
            
        }
    }

    &__title{
        width: 100%;
        margin: auto 0;
        @include flex-center-center;
        flex-direction: column;
        background-color: rgb(227, 227, 227);

        @media(min-width:1232px){
            width: 50%;
        }
        
        &__icon{
            width: 90px;
            animation-name: icon;
            animation-duration: 4s;
            animation-iteration-count:initial;

            @media(min-width:1199px){
                @keyframes icon {
                    0%{
                        transform: translateX(-50%);
                        opacity: 1;
                    }
        
                    100%{
                        opacity: 1;
                    }
                    
                }
            }
            svg{
                width: 100%;
                height: 100%;
            }
        }

        h1{
            width: 80%;
            text-align: center;
            padding: 20px 0;
            font-size: 30px;

            @media(min-width: 1199px){
                font-size:66px;
            }
        }

        hr{
            width: 98px;
            margin: auto;
            border: 5px solid $mikado_yellow;
            margin-bottom: 20px;
            animation-name: line;
            animation-duration: 4s;
            animation-iteration-count:initial;

            @media(min-width:1199px){
                @keyframes line {
                    0%{
                        width: 0%
                    }
        
                    100%{
                        width: 98px;
                    }
                    
                }
            }

        }

        p{
            font-size: 20px;
            text-align: center;
            animation-name: sub;
            animation-duration: 5s;
            z-index: 0;

            @media(min-width: 1199px){
                width: 70%;
                font-size: 27px;
                padding-bottom: 80px;

                @keyframes sub {
                    0%{
                        opacity: 0; 
                    }
                  
                    100%{
                        opacity: 1;
                    }
                    
                }
            }

        }
    }
}